:root {
  --col_cyan-600: hsl(192, 37%, 48%);
  --col_cyan-300: hsl(192, 90%, 77%);
  --col_purple-600: hsl(268, 34%, 53%);
  --col_purple-300: hsl(268, 100%, 86%);
  --col_slate-900: hsl(240, 21%, 20%);
  --col_slate-600: hsl(240, 10%, 57%);
  --col_slate-300: hsl(240, 18%, 85%);
  --col_off-white: hsl(0, 0%, 98%);
  --col_white: hsl(0, 0%, 100%);
  --col_cyan_hover: #71C0D4;
  --col_purple_hover: #B18BDD;
  --fs-root: 16px;
  --fw-root: 400;
  --ff-root: "Red Hat Display", sans-serif;
  --line-length: 80px;
  --circle-diameter: 56px;
  --spacing: 16px;
}

.red-hat-display-400 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.f-preset-1 {
  font-size: calc(var(--fs-root) * 2.5);
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 900;
}

.f-preset-2 {
  font-size: calc(var(--fs-root) * 2.5);
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 900;
}

.f-preset-3 {
  font-size: calc(var(--fs-root) * 1);
  line-height: 1.1;
  letter-spacing: calc(var(--fs-root) / 4);
  font-weight: 900;
  text-transform: uppercase;
}

.f-preset-4 {
  font-size: calc(var(--fs-root) * 1.125);
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 500;
}

.f-preset-5 {
  font-size: calc(var(--fs-root) * 1);
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 900;
}

.spacing-1400 {
  --spacing: 7rem;
}

.spacing-1000 {
  --spacing: 5rem;
}

.spacing-900 {
  --spacing: 4.5rem;
}

.spacing-800 {
  --spacing: 4rem;
}

.spacing-700 {
  --spacing: 3.5rem;
}

.spacing-500 {
  --spacing: 2.5rem;
}

.spacing-400 {
  --spacing: 2rem;
}

.spacing-300 {
  --spacing: 1.5rem;
}

.spacing-200 {
  --spacing: 1rem;
}

.spacing-100 {
  --spacing: 0.5rem;
}

.spacing-50 {
  --spacing: 0.25rem;
}

.white {
  color: var(--col_white) !important;
}

.cyan-300 {
  color: var(--col_cyan-300) !important;
}

.purple-300 {
  color: var(--col_purple-300) !important;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: var(--fs-root);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-root);
  font-size: var(--fs-root);
  font-weight: var(--fw-root);
  color: var(--col_slate-900);
  background-color: var(--col_white);
  line-height: 1.5;
}

main {
  width: 100%;
  margin: 0 auto;
}

video,
img,
iframe {
  max-width: 100%;
  block-size: auto;
  object-fit: contain;
}

.visually-hidden {
  height: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#meet-landing-page {
  margin: calc(var(--spacing) * 3) auto 0;
  text-align: center;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  margin: calc(var(--spacing) * 4) 0;

}

.design-hero-combined {
  margin: 0 calc(var(--spacing) * 2) calc(var(--spacing) * 2);
}

.hero {
  display: block;
  max-inline-size: 140%;
  position: relative;
  left: -20%;
}

.hero-double {
  display: none;
}

.hero-text {
  max-width: 88%;
  margin: 0 auto;
}

.design-main {
  padding: calc(var(--spacing) * 2);
}

.image-collage {
  display: grid;
  place-content: center;
  gap: var(--spacing);
  grid-template-columns: fit-content(50%) fit-content(50%);
  margin-top: calc(var(--spacing) * 4);
}

.image-collage img {
  border-radius: calc(var(--spacing) / 2);
}

.design-number {
  display: grid;
  place-items: center;
}

.design-number .line {
  height: var(--line-length);
  border: 1px solid var(--col_slate-300);
}

.design-number .step {
  display: inline-block;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  color: var(--col_slate-600);
  border: 1px solid var(--col_slate-300);
  border-radius: 1.8rem;
  padding: 1rem;
  background-color: var(--col_white);
}


.text-content {
  margin: calc(var(--spacing) * 4) auto 0 auto;
}

.text-content .slogan {
  font-size: calc(var(--fs-root) * 0.675);
  font-weight: 900;
  color: var(--col_cyan-600);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.text-content h2 {
  margin-top: calc(var(--spacing) * 1);
  margin-bottom: calc(var(--spacing) * 2);
  text-wrap: balance;
}

.design-footer-cta {
  position: relative;
}

.design-footer-cta .line {
  height: calc(var(--line-length) + var(--circle-diameter) / 2);
}

.design-footer-cta .step {
  color: var(--col_slate-600);
  background-color: var(--col_white);
  border: 1px solid var(--col_slate-600);
  display: inline-block;
  padding: 1rem;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  border-radius: 1.8rem;
  position: absolute;
  top: var(--line-length);
  left: calc(50% - var(--circle-diameter) / 2);
  z-index: 10;
}

.footer-hero {
  position: relative;
  padding: 0 calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  color: white;
  background-image: url('./assets/mobile/image-footer.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* Ensure the overlay is behind */
  z-index: 0;
}

.footer-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--col_cyan-600);
  opacity: 0.85;
  z-index: -8;
}

h2 {
  margin: calc(var(--spacing) * 3) auto calc(var(--spacing) * 1.5) auto;
  text-wrap: balance;
}

.blurb {
  margin: calc(var(--spacing) * 1.5) auto calc(var(--spacing) * 1.5) auto;
  color: var(--col_slate-600);
  font-weight: 500;
  text-wrap: pretty;
}

.action-items {
  display: flex;
  gap: calc(var(--spacing) * 1.5);
  flex-wrap: wrap;
  justify-content: center;
}

.action {
  font-family: var(--ff-root);
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2.65);
  border: unset;
  border-radius: calc(var(--spacing) * 1.825);
  cursor: pointer;
}

.primary {
  font-family: var(--ff-root);
  background-color: var(--col_cyan-600);
  color: var(--col_white);
}

.primary:hover {
  background-color: var(--col_cyan_hover);
}

.secondary {
  background-color: var(--col_purple-600);
  color: var(--col_white);
}

.secondary:hover {
  background-color: var(--col_purple_hover);
}

@media only screen and (min-width: 600px) {
  .hero-text {
    max-width: 73%;
    margin: 0 auto;
  }

  .hero-text h2 {
    margin-top: calc(var(--spacing) * 4.5);
  }

  .text-content {
    width: 76%;
  }
}

@media only screen and (min-width: 700px) {
  .hero {
    left: -10%;
    max-inline-size: 125%;
  }

  .hero-text {
    width: 58%;
    margin: 0 auto;
  }

  .image-collage {
    gap: calc(var(--spacing) * 1.5);
    grid-template-columns: repeat(4, 1fr);
  }

  .text-content {
    width: 66%;
  }

  .footer-hero {
    background-image: url("./assets/tablet/image-footer.jpg");
  }
}

@media only screen and (min-width: 860px) {
  .design-hero-combined {
    display: flex;
    gap: calc(var(--spacing) * 2);
    margin: 0 auto;
    padding: 0;
    width: 133%;
    left: -16%;
    position: relative;
    min-height: 360px;
  }

  .hero-text .blurb {
    margin: calc(var(--spacing) * 2) 0;
  }

  .single {
    display: none;
  }

  .hero-double {
    display: block;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1000px) {
  .hero-text h2 {
    margin-top: calc(var(--spacing) * 1.5);
    font-size: calc(var(--fs-root) * 4);
  }
}

@media only screen and (min-width: 1200px) {
  .design-hero-combined {
    width: 110%;
    left: -4%;
    position: relative;
  }

  .hero-double:last-child {
    align-self: flex-end;
  }

  .design-main {
    width: 82%;
    margin: 0 auto;

    .image-collage {
      gap: calc(var(--spacing) * 2);
    }

    .text-content {
      width: 46%;
    }
  }

  .footer-hero {
    background-image: url("./assets/desktop/image-footer.jpg");
    padding: calc(var(--spacing) * 7) calc(var(--spacing) * 5);
    text-align: left;
  }

  .footer-hero .text-content {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    display: grid;
    grid-template-columns: 4fr 3fr 2fr;
    gap: calc(var(--spacing) * 2);
    align-items: start;

    h2 {
      margin: 0;
    }

    .blurb {
      margin: 0;
      font-size: calc(var(--fs-root) * 1.125);
      )
    }

    .action-items {
      margin-left: auto;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .design-hero-combined {
    max-width: 100%;
    left: unset;
    position: unset;
  }
}

@media only screen and (min-width: 1900px) {
  .design-hero-combined {
    max-width: 70%;
  }

  .hero-text {
    width: 40%;
  }
}