:root {
  --col_cyan_strong: hsl(171, 66%, 44%);
  --col_blue_light: hsl(233, 100%, 69%);
  --col_gray_dark: hsl(210, 10%, 33%);
  --col_gray: #979797;
  --col_whatever: #f5f6f7;

  --col_gray_for_white: #6f787c;
  /* Instead of #9EABB2 */
  --col_cyan_for_white: #188574;
  /* Instead of #26BBA4 */
  --col_blue_light_for_white: #586AEA;
  /* Instead of #6174FF */
  --col_white: hsl(0, 0%, 100%);
  --ff-root: "Bai Jamjuree", sans-serif;
  --fs-root: 16px;
  --fs-18: calc(var(--fs-root) * 1.125);
  --fs-24: calc(var(--fs-root) * 1.5);
  --fs-28: calc(var(--fs-root) * 1.75);
  --fs-32: calc(var(--fs-root) * 2);
  --fw-regular: 400;
  --fw-semi_bold: 600;

  --box_730: 50rem;
  --box_1110: 1110px;
  --social-icons-size: 1.5rem;
}

.bai-jamjuree-light {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bai-jamjuree-regular {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bai-jamjuree-medium {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bai-jamjuree-semibold {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: var(--fs-root);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  --spacing: 1rem;
  font-family: var(--ff-body);
  font-size: var(--fs-root);
  font-weight: var(--fw-regular);
  color: var(--col_gray_dark);
  background-color: var(--col_white);
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.visually-hidden {
  height: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#clipboard-landing-page {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  container-type: inline-size;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 2rem;
  text-wrap: pretty;
}

header,
.hero,
.shoutout,
.tools,
.brands,
.cta {
  margin-inline: auto;
  scroll-snap-align: start;
  padding: 0 2.375rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 29.75rem;
  margin-inline: auto;
}

.buttons>* {
  flex-shrink: 0;
}

.buttons .primary,
.buttons .secondary {
  border-radius: 1.75rem;
  border: none;
  color: var(--col_white);
  font-size: 1.125rem;
  padding: 1rem 2rem;
  width: 14.1875rem;
  letter-spacing: 0.5px;
  transition: 0.4s ease-in;
  cursor: pointer;
  white-space: nowrap;
}

.primary {
  background-color: var(--col_cyan_strong);
  box-shadow: var(--col_cyan_for_white) 0.5rem 1.15rem 1.75rem -1rem;
}

.secondary {
  background-color: var(--col_blue_light);
  box-shadow: var(--col_blue_light_for_white) 0.5rem 1.15rem 1.75rem -1rem;
}

.primary:hover {
  box-shadow: var(--col_cyan_strong) 0 0.625rem 1.25rem 0;
}

.secondary:hover {
  box-shadow: var(--col_gray) 0 0.625rem 1.25rem 0;
}

.bg-banner {
  background: url('images/bg-header-desktop.png');
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.content {
  max-width: var(--box_730);
}

.wide-content {
  max-width: var(--box_1110);
}

header .logo {
  margin: 7.5rem auto 4rem auto;
}

h1 {
  font-size: 2rem;
  color: var(--col_gray_dark);
  margin-inline: auto;
}

h2 {
  font-size: 1.75rem;
  margin-inline: auto;
}

h3 {
  font-size: 1.5rem;
  margin-inline: auto;
}

p {
  margin: 1rem auto 3rem auto;
  font-size: 1rem;
  color: var(--col_gray_for_white);
  line-height: 1.5;
  letter-spacing: 0.05ch;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.hero .features {
  flex-shrink: 1;
}

.shoutout {
  margin: 10rem auto 4rem auto;
}

.brands {
  margin: 8.25rem auto 10.5rem auto;
}

.tools-icon {
  margin: 0 auto 2.75rem auto;
}

.tools-list,
.brands {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.brands {
  align-items: center;
}

.tools-list>* {
  flex-basis: 21rem;
  min-width: 21rem;
}

.brands>* {
  flex-basis: 10rem;
}

.brands-icon {
  margin: 0 auto 3.5rem auto;
}

.cta {
  margin-bottom: 10.5rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.25rem 1rem;
  padding: 3.25rem;
  width: 100%;
  background-color: var(--col_whatever);
}

footer .logo {
  flex: 0 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .logo img {
  max-width: 55px;
}

footer .nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4rem;

  >nav {
    flex-grow: 2;
  }
}

footer nav {
  flex: 2 0;
  display: grid;
  grid-template-columns: minmax(18ch, 10rem);
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  max-width: 35rem;
}

footer nav a {
  display: block;
  text-decoration: none;
  color: var(--col_gray_dark);
  font-size: 1rem;
  transition: color 0.3s;
}

footer nav a:hover {
  color: var(--col_cyan_strong);
  cursor: pointer;
}

.social-links {
  flex: 0 1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  min-width: 10rem;
}

.social-links a svg {
  transition: fill 0.5s ease;
  fill: var(--col_gray_dark);
  width: var(--social-icons-size);
  height: var(--social-icons-size);
}

.social-links a:hover svg {
  fill: var(--col_cyan_strong);
  cursor: pointer;
}

/* Add container query to handle responsiveness */
@container (min-width: 500px) {
  footer {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2.5rem;
    gap: 1.5rem 2rem;
  }

  footer .nav-wrapper {
    flex-direction: row;
  }

  footer nav {
    text-align: left;
    margin-right: auto;
    gap: 2rem 1rem;
  }

  footer .social-links {
    flex: 0 2 7.5rem;
    min-width: unset;
  }

  footer nav {
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: repeat(2, minmax(18ch, 10rem));
  }
}

@container (min-width: 900px) {
  h1 {
    font-size: 2.875rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
  }

  footer {
    gap: 2rem 5rem;
  }

  footer nav {
    grid-template-columns: repeat(3, minmax(18ch, 10rem));
  }
}

@container (min-width: 1350px) {
  .hero {
    padding-left: 0;
    gap: 6.875rem;
    align-items: end;
  }

  .hero-img {
    margin-left: -3rem;
    max-width: unset;
  }

  .features {
    text-align: left;
    flex-basis: 21rem;
    max-width: 21rem;
  }
}

@media only screen and (min-width: 2300px) {
  :root {
    --social-icons-size: 2.25rem;
  }

  footer .social-links {
    min-width: 12.5rem;
  }
}