:root {
  --col_white: #fff;
  --col_red: #EA5454;
  --col_teal: #44D3D2;
  --col_orange: #FCAE4A;
  --col_blue: #549EF2;
  --col_stone: #4D4F62;
  --col_canvas: #f2f2f2;
}

.poppins-200 {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.poppins-400 {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-600 {
  font-family: "Poppins", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.x-large {
  font-size: 2.25rem;
}

.large {
  font-size: 1.25rem;
}

.smaller {
  font-size: 0.9375rem;
}

.small {
  font-size: 0.8125rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  --spacing: 1rem;
  font-weight: 400;
  color: var(--col_stone);
  background-color: var(--col_canvas);
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

footer {
  padding: 3vh 0;
  text-align: center;
  line-height: 1.5;
}

footer a {
  color: var(--col_stone);
}

.visually-hidden {
  height: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#feature-section {
  max-width: 1200px;
  margin: 5.625rem auto calc(var(--spacing) * 3.3125) auto;
  padding: var(--spacing);
}

.marketing-header {
  text-align: center;
  max-width: 500px;
  line-height: 1.45;
  text-wrap: balance;
  margin: 0 auto calc(var(--spacing) * 4);
  auto;

  & span {
    display: block;
  }

  & .blurb {
    margin-top: var(--spacing);
  }
}

.cards-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 1.875);

  & .card {
    background-color: var(--col_white);
    border-radius: calc(var(--spacing) / 2);
    padding: calc(var(--spacing) * 2);
    box-shadow: 0 calc(var(--spacing) / 3) calc(var(--spacing) / 1.5) rgba(0, 0, 0, 0.1);
    border-top-width: calc(var(--spacing) / 4);
    border-top-style: solid;
    text-align: left;
    position: relative;
    max-width: 350px;
    min-height: 250px;

    & h2 {
      margin-bottom: var(--spacing);
    }

    & p {
      line-height: 1.75;
    }
  }

  & .card .icon {
    position: absolute;
    bottom: calc(var(--spacing) * 2);
    right: calc(var(--spacing) * 2);
  }

  & .p-team {
    border-top-color: var(--col_red);
  }

  & .p-karma {
    border-top-color: var(--col_orange);
  }

  & .p-supervisor {
    border-top-color: var(--col_teal);
  }

  & .p-calculator {
    border-top-color: var(--col_blue);
  }
}

@media only screen and (min-width: 768px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "first top last" "first bottom last";
  }

  .p-team {
    grid-area: top;
  }

  .p-supervisor {
    grid-area: first;
  }

  .p-karma {
    grid-area: bottom;
  }

  .p-calculator {
    grid-area: last;
  }
}